<div class="onv-table-header-with-add__container">
  <div class="onv-table-header-with-add__text"> {{ header }} </div>
  <div class="onv-table-header-with-add__button-container">
    <button (click)="toggleOpen()" [class.onv-table-header-with-add__button_open]="isOpen"
            class="onv-table-header-with-add__button">
      <div class="onv-table-header-with-add__button_horizontal-line"></div>
      <div class="onv-table-header-with-add__button_vertical-line"></div>
    </button>
  </div>
</div>
