<div class="onv-container">
  <h1>Voting App</h1>
  <div class="onv-voters-candidates__tables-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="onv-voters-candidates__table-container">
          <onv-voters-table [voters]="voters" [votersInProgress]="votersInProgress" [votes]="votes"
                            [votesInProgress]="votesInProgress"></onv-voters-table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="onv-voters-candidates__table-container">
          <onv-candidates-table [candidates]="candidates"
                                [candidatesInProgress]="candidatesInProgress"
                                [votes]="votes"
                                [votesInProgress]="votesInProgress"></onv-candidates-table>
        </div>
      </div>
    </div>
  </div>
</div>
