/* You can add global styles to this file, and also import other style files */
@mixin make-table-cell() {
  padding: 8px;
  font-size: 14px;
  line-height: 32px;
}

.onv-container {
  padding: 16px;
}
